<div class="well">
	<div class="page-header">
		<h3 class="text-primary">Listado de Tipos de Alerta</h3>
	</div>
	
	<div class="pull-right">
		<a href="#tipos-de-alerta/agregar">Agregar tipo de alerta</a>
	</div>
	
	<table class="table table-striped table-hover">
	  	<thead>
	    	<tr class="active">
	      		<th>#</th>
	      		<th>Nombre</th>
	      		<th>Descripción</th>
	      		<th>Estado</th>
	      		<th></th>
	    	</tr>
	  	</thead>
	  	<tbody>
		    <tr class="danger" ng-repeat="tipo in tiposDeAlerta">
		      <td>{{tipo.idTipoDeAlerta}}</td>
		      <td>{{tipo.nombre}}</td>
		      <td>{{tipo.descripcion}}</td>
		      <td>{{tipo.estado.nombre}}</td>
		      <td>
		      	<a href="/#tipos-de-alerta/editar/{{ tipo.idTipoDeAlerta }}">Editar</a> |
		      	<a href="/#tipos-de-alerta/ver/{{ tipo.idTipoDeAlerta }}">Ver detalle</a> |
		      	<a href="/#tipos-de-alerta/eliminar/{{ tipo.idTipoDeAlerta }}">Eliminar</a>
		      </td>
		    </tr>
		</tbody>
	</table>
</div>